@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', 'sans-serif';
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    /* background-color: hsl(216, 50%, 16%); */
    max-width: 350px;    
    margin: 0 auto;

}

.card {
    background-color:hsl(216, 50%, 16%);
    margin: 2rem 1rem;
    padding: 20px;
    border-radius: 20px; 
    box-shadow: 0px 35px 15px 15px hsla(216, 53%, 7%, 0.423);
}

.img-top {
    background-color: blueviolet;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.img-top img {
    width: 100%;
    display: block;
}

.img-view {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: hsla(178, 100%, 50%, 0.33);
    display: none;
}

.img-view img {
    position: absolute;
    width: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.img-top:hover .img-view {
    display: block;
    cursor: pointer;
}

.text-box #title {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-weight: 600;
    font-size: 19px;
    padding: 20px 0;
    display: inline-block;

}

.text-box #title:hover {
    color: hsl(178, 100%, 50%);
}

p {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}

.eth, .clock {
    display: flex;
    align-items: center;
}

.eth p {
    color: hsl(178, 100%, 50%);
    font-weight: 400;
    padding-left: 6px;  
}

.clock p {
    padding-left: 6px;
}

hr {
    border-color: hsl(214, 31%, 30%);
}

.author {
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.author img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid hsl(0, 0%, 100%);
    margin-right: 15px;
    margin-bottom: 13px;
}

.author a {
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    text-decoration: none;
    
}

.author p {
    margin-bottom: 13px;

}

.author a:hover {
    color: hsl(178, 100%, 50%);
}